#name {
  font-size: larger;
  color: rgb(203, 184, 169);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.App {
  text-align: center;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: rgb(203, 184, 169)3;
  padding: 10px;
}

p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}


#box {
  background-color: rgb(179, 180, 146);
}


.App-header {
  background-color: rgb(179, 180, 146);
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


nav a {
  padding-right: 8px;
  margin: 2px;
  text-decoration: none;
  color: white;
  display: inline;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: rgb(128, 66, 0);
  color: rgb(6, 6, 6);
 }

 .logo {
  font-size: 72px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 li {
  display: inline;
  list-style-type: none;
  margin: 8px;
  margin-right: 30px;
  padding: 2px;
 }

 .footer {
  background-color: green;
  border-top:1px solid red;
  padding-top: 10px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  /* color: white; */
  font-size: 25px;
  text-align: center;
 }